.App {
  text-align: center;
  display: flex;
}


.diagram-component {
  width: 600px;
  height: 900px;
  border: solid 1px black;
  background-color: white;
} 

.cat-component {
  width: 300px;
  height: 400px;
  background-color: white;

}